{%extends "/shared/admin_layout.html" %}

{% block title %}Book{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container mt-4">
	{% if error %}
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		{{error}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endif %}
	{% if book %}
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Book: {{book.name}}</h5>
			<h6 class="card-subtitle mb-2 text-body-secondary">Author: {{book.author}}</h6>
			<p class="card-text">
				Description: {{book.about}}
			</p>
			<p class="card-text">
				Tags: {{book.tags | join(', ')}}
			</p>
			<p class="card-text">Total Books: <span class="badge text-bg-primary">{{book.total_copy}}</span></p>
			<p class="card-text">Issues Books: <span class="badge text-bg-warning">{{book.issued_copy}}</span></p>
			<p class="card-text">Available Books: <span class="badge text-bg-success">{{book.present_copy}}</span></p>
		</div>
		<div class="card-footer">
			<a href="/admin/books/edit/{{book._id}}" class="card-link"><i class="bi bi-pencil"></i> Edit</a>
			<a href="#" type="button" data-target="#deleteModal" data-bs-toggle="modal" data-bs-target="#deleteModal"><i
					class="bi bi-trash"></i> Delete</a>
		</div>
	</div>
	{% endif %}

</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="deleteModalLabel">Warning</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Do you want to delete the record for book: {{book.name}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button id="myButton" type="button" class="btn btn-danger"
					data-delete-link="/admin/books/delete/{{book._id}}">Delete</button>
			</div>
		</div>
	</div>
</div>

<script>
	$("#myButton").click(function () {
		debugger;
		var url = $(this).data("delete-link");

		var form = $("<form>", {
			method: "POST",
			action: url
		});

		$(document.body).append(form);
		form.submit();
	});
</script>
{% endblock %}