{%extends "/shared/admin_layout.html" %}

{% block title %}Books{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container mt-4">
  {% if error %}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  {% if customer %}
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://www.w3schools.com/bootstrap4/img_avatar1.png" class="img-fluid rounded-start" alt="Customer">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{customer.name}}</h5>
          <p class="card-text"><small class="text-body-secondary">{{customer.email}}</small></p>
          <p class="card-text">Books currently issued: <span class="badge text-bg-primary">{{customer.name}}</span></p>
          <p class="card-text">Total Books issued: <span class="badge text-bg-primary">{{customer.name}}</span></p>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-end">
        <a href="/admin/users/edit/{{customer._id}}" class="card-link me-4"><i class="bi bi-pencil"></i> Edit</a>
        <a href="#" type="button" data-target="#deleteModal" data-bs-toggle="modal" data-bs-target="#deleteModal"><i
            class="bi bi-trash"></i> Delete</a>
      </div>
    </div>
  </div>
  {% endif %}

</div>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Warning</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you want to delete the record for customer: {{customer.name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="myButton" type="button" class="btn btn-danger"
          data-delete-link="/admin/users/delete/{{customer._id}}">Delete</button>
      </div>
    </div>
  </div>
</div>

<script>
  $("#myButton").click(function () {
    debugger;
    var url = $(this).data("delete-link");

    var form = $("<form>", {
      method: "POST",
      action: url
    });

    $(document.body).append(form);
    form.submit();
  });
</script>
{% endblock %}