* {
    padding: 0;
    margin: 0;
}

.bgImage {
    background-size: cover;
    background-image: url("https://assets.weforum.org/article/image/responsive_big_webp_JMF96ETfn1kSViVnUou1Z0XIDwWcPpT5mrPc7-ytpAc.webp");
}

.card {   
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15)!important;
}

.card:hover {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-dark-rgb), var(--bs-border-opacity)) !important;
    box-shadow: 0 1.5rem 1rem rgba(0,0,0,.15)!important;
}

.overflow-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
}

textarea::placeholder {
    color: #212529 !important;
    /* Change the placeholder color here */
}