<html lang="en">
<head>
	{%block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" />
	<link rel="stylesheet" href="/static/style.css" />

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" 
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" 
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" 
		integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" 
		crossorigin="anonymous"></script>
	
	{% endblock %}
</head>
<!-- Put some text on the page -->

<body>
	<nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Library</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="/admin/">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						  Manage Books
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/admin/books">View Books</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="/admin/books/add">Add Book</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						  Manage Users
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/admin/users">View Users</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="/admin/users/add">Add User</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="/admin/books/issue">Book Issuance</a>
					</li>
				</ul>
				<form class="d-flex" role="search">
					<a class="navbar-brand" href="#">Welcome {{user.userName}}</a>
					<a href="/admin/signout" class="btn btn-outline-success" type="submit">Sign Out</a>
				</form>
			</div>
		</div>
	</nav>
	
	{%block content %}{% endblock %}

	<script>
		const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
		const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
	</script>
</body>
</html>